@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&family=Open+Sans:ital,wght@0,700;1,300;1,400;1,500&family=Roboto:ital,wght@0,500;1,900&display=swap");

body {
  font-family: "DM Sans", sans-serif;
  background-color: white;
}
.rounded-pill,
.rounded-pill:hover {
  background-color: #108a00;
  border: none;
  width: 20rem;
  outline: none;
}

/* login link a */
.text-sm  a{
  color: #108a00;
  text-decoration: none;
}